*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app.properties
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/.name
/.idea/vcs.xml
/app/src/main/java/com/santansarah/oauthxml/data/remote/models/user.json
/app/src/main/java/com/santansarah/oauthxml/data/remote/models/repos.json
